<mat-toolbar class="project-toolbar">
    <mat-icon>storage</mat-icon>
    <h1>Project</h1>
    <div class="borderLine"></div>
    <button mat-button class="add-project"
        (click)="addProject()">
        Add Project
    </button>
    <span class="spacer"></span>
    <mat-form-field class="filter">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input>
    </mat-form-field>
    <mat-slide-toggle class="slide-toggle"
        color="warn"
        [(ngModel)]="isShowCompleted"
        (change)="showCompletedChanged()">
        Show Completed
    </mat-slide-toggle>
</mat-toolbar>

<div class="table-container">
    <table mat-table [dataSource]="dataSource" matSort class="project-table">

        <ng-container matColumnDef="no">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.no}} </td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element">
                <button mat-button (click)="onClickProjectName(element)">
                    {{element.name}}
                </button>
            </td>
        </ng-container>
        <ng-container matColumnDef="task">
            <th mat-header-cell *matHeaderCellDef> Task </th>
            <td mat-cell *matCellDef="let element">
                <button mat-button (click)="onClickProjectTask(element.no)">
                    {{element.task}}
                </button>
        </ng-container>
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element"> {{element.status}} </td>
        </ng-container>
        <ng-container matColumnDef="operator">
            <th mat-header-cell *matHeaderCellDef> Operator </th>
            <td mat-cell *matCellDef="let element"> {{element.operator}} </td>
        </ng-container>
        <ng-container matColumnDef="partner">
            <th mat-header-cell *matHeaderCellDef> Partner </th>
            <td mat-cell *matCellDef="let element"> {{element.partner}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>