<mat-toolbar  class="app-toolbar" color="primary">
  <img src="../assets/images/angular.png" alt="" class="angular_image">
  <button routerLink="/" mat-button>ROOM</button>
  <button *ngIf="user$ | async as user" routerLink="projects" mat-button>
    Project
  </button>
  <span class="spacer"></span>
  <mat-icon *ngIf="user$ | async as user"
    matTooltip={{user.email}}>
    account_circle
  </mat-icon>
  <button *ngIf="!(user$ | async) && url=='/signup'" routerLink="login" mat-button>
    Login
  </button>
  <button *ngIf="!(user$ | async) && (url=='/' || url=='/login')" routerLink="signup" mat-button>
    Signup
  </button>
  <button *ngIf="user$ | async as user" (click)="logout()" mat-button>
    Logout
  </button>
</mat-toolbar>
<div class="app-contents">
  <router-outlet></router-outlet>
</div>