<mat-toolbar  color="primary">
  <button routerLink="/" mat-button>ROOM</button>
  <span class="spacer"></span>

  <button *ngIf="user$ | async as user" mat-button>
    {{user.email}}
  </button>
  <button *ngIf="!(user$ | async) && url=='/signup'" routerLink="login" mat-button>
    Login
  </button>
  <button *ngIf="!(user$ | async) && (url=='/' || url=='/login')" routerLink="signup" mat-button>
    Signup
  </button>
  <button *ngIf="user$ | async as user" (click)="logout()" mat-button>
    Logout
  </button>
</mat-toolbar>
<router-outlet></router-outlet>